body {
  background-color: #f8f8f8;
}
.div_img {
  height: 50%;
  width: 100%;
}
@media screen and (min-width: 1220px) {
  .img_img {
    height: 30% !important;
    width: 30% !important;
    padding-left: 1%;
  }
  #A2 {
    z-index: 1;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    /* height: auto; */
    padding-right: 0px;
    padding-left: 0px;
    transform: translate(0%, 0%); /* décalage de 50% de sa propre taille */
    -webkit-scrollbar-button: horizontal;
    scroll-snap-type: x proximity;
    padding: 0%;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0);
    border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 55, 55);
  }
}
@media screen and (min-width: 720px) {
  .img_img {
    height: 40% !important;
    width: 30% !important;
    padding-left: 1%;
  }
  #A2 {
    z-index: 1;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    /* height: auto; */
    padding-right: 0px;
    padding-left: 0px;
    transform: translate(0%, 0%); /* décalage de 50% de sa propre taille */
    -webkit-scrollbar-button: horizontal;
    scroll-snap-type: x proximity;
    padding: 0%;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0);
    border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 55, 55);
  }
}
@media screen and (max-width: 420px) {
  .img_img {
    height: 50% !important;
    width: 40% !important;
    padding-left: 1%;
  }
  #A2 {
    z-index: 1;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    /* height: auto; */
    padding-right: 0px;
    padding-left: 0px;
    transform: translate(0%, 0%); /* décalage de 50% de sa propre taille */
    -webkit-scrollbar-button: horizontal;
    scroll-snap-type: x proximity;
    padding: 0%;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(220, 220, 220, 0);
    border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 55, 55);
  }
}
